# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Environment files
.env
.env.local
.env.production
.venv


# IDE
.vscode/
.idea/

# Local testing
venv/
__pycache__/
*.pyc

# Docker
*.log

# Aws
aws

# Python & Coverage 
__pycache__
.pytest_cache
.coverage